<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180488290427-t7manbl9fu3m171r0qr0ukcurr8gmdh2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180488290427-t7manbl9fu3m171r0qr0ukcurr8gmdh2</string>
	<key>API_KEY</key>
	<string>AIzaSyAHfjxmh1Mb4IGsi6f2rORDHQijwuWodO0</string>
	<key>GCM_SENDER_ID</key>
	<string>180488290427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tccApp</string>
	<key>PROJECT_ID</key>
	<string>tcc-app-2022</string>
	<key>STORAGE_BUCKET</key>
	<string>tcc-app-2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180488290427:ios:97f301ca321a1eb34be2de</string>
</dict>
</plist>